@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

:root {
  --dark: #111;
  --light: #fffcfa;
  --orange: #ff4500;
  --gold: #ffd700;
  --red: #780a0a;
  --cyan: #00ffff;
  --magenta: #ff00ff;
  --lime: #32cd32;

}

body {
  font-family: 'Fredericka the Great', serif;
  background-color: var(--dark);
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

h2 {
  margin: 0;
  color: var(--gold);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 1;
}

.box {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 1px solid var(--orange);
}

.box:nth-child(2) {
  top: 40%;
  left: 25%;
  border-color: var(--light);
}

.box:nth-child(3) {
  top: 50%;
  left: 75%;
  border-color: var(--lime);
}

.box:nth-child(4) {
  top: 10%;
  left: 90%;
  border-color: var(--red);
}

.box:nth-child(5) {
  top: 85%;
  left: 15%;
  border-color: var(--cyan);
}

.box:nth-child(6) {
  top: 10%;
  left: 50%;
  border-color: var(--magenta);
}