@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

:root {
  --dark: #111;
  --light: #fffcfa;
  --orange: #ff4500;
  --gold: #ffd700;
  --red: #780a0a;

}

body {
  font-family: 'Fredericka the Great', serif;
  background-color: var(--dark);
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

h2 {
  margin: 0;
  color: var(--gold);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
}